{% extends "base.html" %}
{% block page_title %}{{ title }}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">{{ _('Home') }}</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('nis2.dashboard') }}">{{ _('NIS2 Dashboard') }}</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('nis2.list_supply_chain') }}">{{ _('Supply Chain') }}</a></li>
  <li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row g-3">
        <div class="col-lg-6">{{ form.supplier_id.label }}{{ form.supplier_id(class="form-select") }}</div>
        <div class="col-lg-6">{{ form.supplier_name.label }}{{ form.supplier_name(class="form-control") }}</div>
        <div class="col-lg-4">{{ form.ict_service_type.label }}{{ form.ict_service_type(class="form-select") }}</div>
        <div class="col-lg-4">{{ form.service_criticality.label }}{{ form.service_criticality(class="form-select") }}</div>
        <div class="col-lg-4">{{ form.dependency_tier.label }}{{ form.dependency_tier(class="form-select") }}</div>
        <div class="col-lg-4">{{ form.security_certifications.label }}{{ form.security_certifications(class="form-control") }}</div>
        <div class="col-lg-4">{{ form.supply_chain_risk_level.label }}{{ form.supply_chain_risk_level(class="form-select") }}</div>
        <div class="col-lg-4">{{ form.status.label }}{{ form.status(class="form-select") }}</div>
        <div class="col-lg-3">{{ form.nis2_in_scope() }} {{ form.nis2_in_scope.label }}</div>
        <div class="col-12"><hr><h6>{{ _('Assessment Dates') }}</h6></div>
        <div class="col-lg-4">{{ form.last_assessment_date.label }}{{ form.last_assessment_date(class="form-control", type="date") }}</div>
        <div class="col-lg-4">{{ form.next_assessment_date.label }}{{ form.next_assessment_date(class="form-control", type="date") }}</div>
        <div class="col-lg-4"></div>
        <div class="col-12">{{ form.assessment_findings.label }}{{ form.assessment_findings(class="form-control", rows=2) }}</div>
        <div class="col-12">{{ form.mitigation_actions.label }}{{ form.mitigation_actions(class="form-control", rows=2) }}</div>
        <div class="col-12"><hr><h6>{{ _('Contractual Safeguards') }}</h6></div>
        <div class="col-lg-3">{{ form.sla_in_place() }} {{ form.sla_in_place.label }}</div>
        <div class="col-lg-3">{{ form.incident_reporting_defined() }} {{ form.incident_reporting_defined.label }}</div>
        <div class="col-lg-3">{{ form.right_to_audit() }} {{ form.right_to_audit.label }}</div>
        <div class="col-lg-3">{{ form.data_processing_agreement() }} {{ form.data_processing_agreement.label }}</div>
        <div class="col-lg-4">{{ form.termination_notice_days.label }}{{ form.termination_notice_days(class="form-control") }}</div>
        <div class="col-12"><hr><h6>{{ _('Subcontractors') }}</h6></div>
        <div class="col-lg-3">{{ form.subcontractors_known() }} {{ form.subcontractors_known.label }}</div>
        <div class="col-lg-9"></div>
        <div class="col-12">{{ form.subcontractor_details.label }}{{ form.subcontractor_details(class="form-control", rows=2) }}</div>
        <div class="col-12">{{ form.notes.label }}{{ form.notes(class="form-control", rows=2) }}</div>
      </div>
      <div class="mt-3">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('nis2.list_supply_chain') }}" class="btn btn-secondary">{{ _('Cancel') }}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
